.SelectVideo {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 360px;
  margin: 50px 70px 70px;
}

.SelectVideo:hover {
  border: 5px solid red;
  cursor: pointer;
}

.Player {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 360px;
  margin: 50px 70px 70px;
}